body{
    margin: 0;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: rgb(243, 243, 243);
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    
}

#title,#description{
    margin: 1.5rem auto;
    text-align: center;
}

#description{
    font-style: italic;
}

label,input{
    width: 100%;
    margin: 0.4rem 0;
    vertical-align: middle;
}

input{
    height: 3em;
    font-size: 17px;
}

form{
    background-color: rgba(22, 40, 54,0.8);
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;    
}

section{
    margin-bottom:30px;
}

.inline{
    width: unset;
    margin-right: 3px;
}

input[type="submit"]{
    width: 60%;
    height: 3rem;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    background-color: rgba(22, 40, 54,1);
    border-color: white;
    color: white;
}

